*{
    margin: 0;
    padding: 0;
}

html{
    background-image: linear-gradient(to right, rgb(63, 63, 209), rgb(79, 157, 184), rgb(63, 63, 209));
}

.heading{
    margin-left: 50%;
    margin-top: 200px;
}
html{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1447' height='794' preserveAspectRatio='none' viewBox='0 0 1447 794'%3e%3cg mask='url(%26quot%3b%23SvgjsMask4661%26quot%3b)' fill='none'%3e%3crect width='1447' height='794' x='0' y='0' fill='rgba(34%2c 52%2c 193%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c359.685C91.11%2c366.602%2c176.053%2c436.084%2c263.735%2c410.38C357.927%2c382.767%2c445.518%2c311.082%2c479.683%2c219.064C513.445%2c128.132%2c453.747%2c32.756%2c439.571%2c-63.201C425.465%2c-158.686%2c453.95%2c-266.015%2c396.557%2c-343.619C338.312%2c-422.375%2c234.296%2c-451.667%2c138.207%2c-470.69C47.848%2c-488.579%2c-44.229%2c-477.36%2c-131.598%2c-448.18C-216.607%2c-419.789%2c-296.221%2c-375.248%2c-353.633%2c-306.425C-410.416%2c-238.356%2c-447.77%2c-153.464%2c-451.335%2c-64.892C-454.727%2c19.387%2c-409.648%2c94.379%2c-372.819%2c170.261C-336.848%2c244.376%2c-312.644%2c334.88%2c-239.197%2c372.197C-166.545%2c409.11%2c-81.258%2c353.516%2c0%2c359.685' fill='%231a2893'%3e%3c/path%3e%3cpath d='M1447 1223.528C1559.643 1237.701 1663.632 1333.699 1771.914 1299.577 1882.839 1264.622 1963.712 1157.431 2003.522 1048.155 2042.181 942.038 2008.711 827.014 1984.24 716.7570000000001 1961.424 613.958 1942.45 503.428 1866.4470000000001 430.547 1792.673 359.802 1679.346 365.104 1582.733 331.737 1480.129 296.301 1388.79 216.346 1280.901 228.32000000000005 1166.95 240.96699999999998 1052.99 302.108 989.505 397.578 927.824 490.334 965.5219999999999 612.263 952.057 722.838 938.9649999999999 830.351 868.136 939.309 911.45 1038.578 954.813 1137.958 1068.212 1188.538 1170.7 1223.932 1259.555 1254.618 1353.731 1211.7930000000001 1447 1223.528' fill='%233d4fdd'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask4661'%3e%3crect width='1447' height='794' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1447' height='268' preserveAspectRatio='none' viewBox='0 0 1447 268'%3e%3cg mask='url(%26quot%3b%23SvgjsMask3607%26quot%3b)' fill='none'%3e%3crect width='1447' height='268' x='0' y='0' fill='rgba(21%2c 67%2c 96%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c401.843C77.392%2c406.517%2c156.354%2c386.601%2c219.961%2c342.267C282.395%2c298.751%2c321.422%2c230.263%2c348.314%2c159.07C373.946%2c91.213%2c371.283%2c19.412%2c369.307%2c-53.098C367.079%2c-134.857%2c385.524%2c-226.06%2c336.044%2c-291.184C286.148%2c-356.855%2c189.863%2c-356.089%2c114.185%2c-388.879C25.535%2c-427.289%2c-55.714%2c-532.245%2c-146.946%2c-500.453C-239.478%2c-468.209%2c-237.4%2c-333.285%2c-287.322%2c-248.966C-326.415%2c-182.937%2c-383.528%2c-131.296%2c-408.474%2c-58.73C-437.557%2c25.869%2c-485.222%2c123.499%2c-442.357%2c202.018C-399.166%2c281.134%2c-285.67%2c279.583%2c-203.524%2c316.69C-135.119%2c347.59%2c-74.923%2c397.318%2c0%2c401.843' fill='%23103349'%3e%3c/path%3e%3cpath d='M1447 828.034C1549.758 835.471 1617.519 723.895 1704.4769999999999 668.642 1792.002 613.029 1913.8 595.125 1959.812 502.193 2005.938 409.03 1968.272 296.819 1937.775 197.437 1910.665 109.09299999999999 1848.6 41.68199999999999 1795.324-33.82499999999999 1735.475-118.64699999999999 1702.1970000000001-234.33999999999997 1605.849-272.98900000000003 1508.442-312.063 1402.852-253.587 1300.04-232.50099999999998 1186.902-209.29700000000003 1046.385-231.921 972.5609999999999-143.103 898.622-54.146000000000015 935.198 80.369 944.129 195.69799999999998 951.431 289.98 970.0699999999999 382.619 1019.518 463.225 1065.2359999999999 537.751 1145.904 576.273 1212.41 633.029 1291.358 700.402 1343.483 820.542 1447 828.034' fill='%231a5377'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask3607'%3e%3crect width='1447' height='268' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e"); */
} 
/* .html{
    border-radius: 67px;
background: #174be8;
box-shadow: inset 27px 27px 53px #0e2f90,
            inset -27px -27px 53px #2068ff;
} */

html{
    background-image: linear-gradient();
}
ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
a{
    text-decoration: none;
}
.navbar{
    margin: -30px;
    background-color: black;
    margin-top: -276px;
    border-radius: 5%;
    align-items: center;
}
.navbar :hover{
    background-color: white;
}

.portfolio{
    margin-right: 30px;
}
h1.portfolio {
    margin-top: -58px;
}